<!DOCTYPE html>
<html>
<head>
    <!-- 개발자: 석진우 -->
    <!-- 개발자 이메일(피드백): tel.01063888391@gmail.com, 010-6388-8391 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>로컬네비게이터 : HEY~ 툰즈!</title>
    <!-- <link rel="stylesheet" type="text/css" href="/public/css/style.css">   -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=qx8vtxqi8e"></script>
    
    <script>
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"</script>

  <script type="text/javascript" src="/dapi.kakao.com/v2/maps/sdk.js?appkey=2a0358e0295aa2a391bb3335acf06b4a&libraries=services"></script>


</head>


<body>


    
    <div id="body">
   <div id="navbar">위치기반 로컬네비게이터 : HEY~ 툰즈!</div>

<div id="infoBox">
    </span>

   
        <div id="infoTitle"> 현재 날짜  </div>



    <style type="text/css">

        #popitmenu{
        position: absolute;
        background-color: white;
        border:1px solid black;
        font: normal 12px Verdana;
        line-height: 18px;
        z-index: 100;
        visibility: hidden;
        }
        
        #popitmenu a{
        text-decoration: none;
        padding-left: 6px;
        color: black;
        display: block;
        }
        
        #popitmenu a:hover{ 
        background-color: #CCFF9D;
        }
        
        </style>
        
       


        

<!-- 석진우 -->


    <div id="infoContent">

        <script>
        let today = new Date();   

        let year = today.getFullYear(); // 년도
        let month = today.getMonth() + 1;  // 월
        let date = today.getDate();  // 날짜
      //  let day = today.getDay();  // 요일
        

        document.write(year + '-' + month + '-' + date)
        document.write('<br>')
        document.write(day);


        </script>



    </div>


</div>



















<div id="search">












          

                 
   
  
      


















<!--      원본 소스
     <input id="search_input" placeholder="맛집을 입력해주세요."/>
    <button id="search_button">검색</button>
  -->







<!-- 
     
    <form name="jksearch" action="#" method="get" onSubmit="jksitesearch(this)">
        <table cellpadding=1>


        <tr>
            <td></td>
            <td>근처 맛집: <input name="se" type="radio" checked> </td>
            
        </tr> 



        <tr>
            <td><B>검색어 : </B></td>
            <td>

                <input id="hiddenquery" type="hidden" name="q"><input name="qfront" type="text" style="width: 200px" value="" placeholder="근처의 맛집을 찾아보세요.">
              

                
                <a href="#" onMouseover="showmenu(event,linkset[0])" onMouseout="delayhidemenu()">

                <input type="submit" value="Search"></td>
                </a>
             

        </tr>
        </table>
        </form> -->


    


        
        <script type="text/javascript">
        
        var domainroot="www.javascriptkit.com"
        
        var searchaction=[ 
        "https://map.kakao.com/?urlX=",
        ]
        
        var queryfieldname=["q","p","q"] 
        
        function switchaction(cur, index){
            cur.form.action=searchaction[index]
            document.getElementById("hiddenquery").name=queryfieldname[index]
        }
        
        function jksitesearch(curobj){
            for (i=0; i< document.jksearch.se.length; i++){ 
            if (document.jksearch.se[i].checked==true)
                switchaction(document.jksearch.se[i], i)
            }
            document.getElementById("hiddenquery").value=curobj.qfront.value
        }
        </script>




</div> 






<a href="#" onMouseover="showmenu(event,linkset[1], '180px')" onMouseout="delayhidemenu()">

        
<div id="current">현재 위치</div>



</a>


<div id="map" style="width:100%;height:100vh;"></div>

<script type="text/javascript" src="/data/data.js"></script>


<script>
    var data = [
    {
        title: "광주 진곡수소충전소",
        content : "광주 진곡수소충전소",
        date: "2022-01-19",
        lat: 35.19415399,
        lng: 126.7883581,
    },
    {

        title: "내포 수소충전소",
        content : "내포 수소충전소",
        date: "2022-01-19",
        lat: 36.63508739,
        lng: 126.6838861,
    },
    {
        title: "옥동 수소복합충전소",
        content : "옥동 수소복합충전소",
        date: "2022-01-19",
        lat: 35.52283439,
        lng: 129.2912722,
},
{
        title: "창원 팔룡수소충전소",
        content : "창원 팔룡수소충전소",
        date: "2022-01-19",
        lat: 35.25282669,
        lng: 128.6051899,
},
{
        title: "대구 주행시험장수소충전소",
        content : "대구 주행시험장수소충전소",
        date: "2022-01-19",
        lat: 35.25282669,
        lng: 128.4022003,
},
{
        title: "광주 동곡수소충전소",
        content : "광주 동곡수소충전소",
        date: "2022-01-19",
        lat: 35.1113365,
        lng: 126.7801666,
},
{
        title: "경동 수소복합충전소",
        content : "경동 수소복합충전소",
        date: "2022-01-19",
        lat: 35.58116713,
        lng: 129.3574959,
},
{
        title: "창원 성주수소충전소",
        content : "창원 성주수소충전소",
        date: "2022-01-19",
        lat: 35.19075755,
        lng: 128.7226331,
},
{
        title: "신일복합충전소",
        content : "신일복합충전소",
        date: "2022-01-19",
        lat: 35.47163529,
        lng: 129.2183617,
},
{
        title: "H안성휴게소(서울 상행) 수소충전소",
        content : "H안성휴게소(서울 상행) 수소충전소",
        date: "2022-01-19",
        lat: 37.07792455,
        lng: 127.1315092,
},
{
        title: "안성휴게소(부산 하행) 수소충전소",
        content : "안성휴게소(부산 하행) 수소충전소",
        date: "2022-01-19",
        lat: 37.01259066,
        lng: 127.1453655,
},
{
        title: "여주휴게소(강릉) 수소충전소",
        content : "여주휴게소(강릉) 수소충전소",
        date: "2022-01-19",
        lat: 37.23871656,
        lng: 127.5709543,
},
{
        title: "그린복합충전소",
        content : "그린복합충전소",
        date: "2022-01-19",
        lat: 35.46367713,
        lng: 129.3340024,
},
{
        title: "대전 학하수소충전소",
        content : "대전 학하수소충전소",
        date: "2022-01-19",
        lat: 36.33591899,
        lng: 127.3162946,
},
{
        title: "백양사휴게소(논산) 수소충전소",
        content : "백양사휴게소(논산) 수소충전소",
        date: "2022-01-19",
        lat: 35.39366693,
        lng: 126.8077397,
},
{
        title: "창원 센트럴수소충전소",
        content : "창원 센트럴수소충전소",
        date: "2022-01-19",
        lat: 35.21786153,
        lng: 128.6740744,
},
{
        title: "언양휴게소(서울) 수소충전소",
        content : "언양휴게소(서울) 수소충전소",
        date: "2022-01-19",
        lat: 35.59892628,
        lng: 129.1420555,
},
{
        title: "성주휴게소(양평) 수소충전소",
        content : "성주휴게소(양평) 수소충전소",
        date: "2022-01-19",
        lat: 36.00828725,
        lng: 128.2616553,
},
{
        title: "서부산NK수소충전소",
        content : "서부산NK수소충전소",
        date: "2022-01-19",
        lat: 35.11316969,
        lng: 128.8432977,
},
{
        title: "H부산수소충전소",
        content : "H부산수소충전소",
        date: "2022-01-19",
        lat: 35.14574547,
        lng: 128.9881799,
},
{
        title: "H국회수소충전소",
        content : "H국회수소충전소",
        date: "2022-01-19",
        lat: 37.52820124,
        lng: 126.9150871,
},
{
        title: "H하남드림휴게소(양방향) 수소충전소",
        content : "H하남드림휴게소(양방향) 수소충전소",
        date: "2022-01-19",
        lat: 37.53069207,
        lng: 127.2070107,
},
{
        title: "H함안휴게소(부산) 수소충전소",
        content : "H함안휴게소(부산) 수소충전소",
        date: "2022-01-19",
        lat: 35.29288662,
        lng: 128.3476952,
},
{
        title: "당진 H2스테이션",
        content : "당진 H2스테이션",
        date: "2022-01-19",
        lat: 36.97531503,
        lng: 126.7073849,
},
{
        title: "H인천수소충전소 에코스테이션",
        content : "H인천수소충전소 에코스테이션",
        date: "2022-01-19",
        lat: 37.39867196,
        lng: 126.7115504,
},
{
        title: "창원 덕동수소충전소",
        content : "창원 덕동수소충전소",
        date: "2022-01-19",
        lat: 35.13442028,
        lng: 128.5636404,
},
{
        title: "H강동수소충전소",
        content : "H강동수소충전소",
        date: "2022-01-19",
        lat: 37.54509091,
        lng: 127.1700659,
},
{
        title: "충북 청주 도원수소충전소",
        content : "충북 청주 도원수소충전소",
        date: "2022-01-19",
        lat: 36.7119168,
        lng: 127.5338244,
},
{
        title: "충북 E1 연수LPG충전소",
        content : "충북 E1 연수LPG충전소",
        date: "2022-01-19",
        lat: 36.98875029,
        lng: 127.9450205,
},
{
        title: "H완주 수소충전소",
        content : "H완주 수소충전소",
        date: "2022-01-19",
        lat: 35.95195953,
        lng: 127.126075,
},
{
        title: "충북 청주 수소충전소(관문)",
        content : "충북 청주 수소충전소(관문)",
        date: "2022-01-19",
        lat: 36.70729158,
        lng: 127.4406338,
},
{
        title: "광주 임암수소충전소",
        content : "광주 임암수소충전소",
        date: "2022-01-19",
        lat: 35.10725968,
        lng: 126.8675584,
},
{
        title: "하이넷 세종청사 수소충전소",
        content : "하이넷 세종청사 수소충전소",
        date: "2022-01-19",
        lat: 36.50239111,
        lng: 127.2627363,
},
{
        title: "하이넷 대구성서 수소충전소",
        content : "하이넷 대구성서 수소충전소",
        date: "2022-01-19",
        lat: 35.83546204,
        lng: 128.4933499,
},
{
        title: "삼척 수소충전소",
        content : "삼척 수소충전소",
        date: "2022-01-19",
        lat: 37.42963176,
        lng: 129.1831926,
},
{
        title: "상암 수소충전소",
        content : "상암 수소충전소",
        date: "2022-01-19",
        lat: 37.56877594,
        lng: 126.8783838,
},
{
        title: "하이넷 화성 동탄 수소충전소",
        content : "하이넷 화성 동탄 수소충전소",
        date: "2022-01-19",
        lat: 37.17751144,
        lng: 127.0860457,
},
{
        title: "하이넷 전주 송천 수소충전소",
        content : "하이넷 전주 송천 수소충전소",
        date: "2022-01-19",
        lat: 35.86957651,
        lng: 127.1073934,
},
{
        title: "서산시 수소충전소",
        content : "서산시 수소충전소",
        date: "2022-01-19",
        lat: 36.7825129,
        lng: 126.4928859,
},
{
        title: "아산 초사수소충전소",
        content : "아산 초사수소충전소",
        date: "2022-01-19",
        lat: 36.74763293,
        lng: 126.9779179,
},
{
        title: "하이넷 평택 팽성수소충전소",
        content : "하이넷 평택 팽성수소충전소",
        date: "2022-01-19",
        lat: 36.95458273,
        lng: 127.0609027,
},
{
        title: "평택 블루에너지 수소충전소",
        content : "평택 블루에너지 수소충전소",
        date: "2022-01-19",
        lat: 37.05354492,
        lng: 127.0802844,
},
{
        title: "하이넷 인천공항T1 수소충전소",
        content : "하이넷 인천공항T1 수소충전소",
        date: "2022-01-19",
        lat: 37.45024251,
        lng: 126.4749956,
},
{
        title: "하이넷 신탄진휴게소(서울) 수소충전소",
        content : "하이넷 신탄진휴게소(서울) 수소충전소",
        date: "2022-01-19",
        lat: 36.42813799,
        lng: 127.4181837,
},
{
        title: "하이넷 춘천휴게소(부산) 수소충전소",
        content : "하이넷 춘천휴게소(부산) 수소충전소",
        date: "2022-01-19",
        lat: 37.81232681,
        lng: 127.767013,
},
{
        title: "광주 벽진 수소충전소",
        content : "광주 벽진 수소충전소",
        date: "2022-01-19",
        lat: 35.12979045,
        lng: 126.8308228,
},
{
        title: "창원 죽곡 수소충전소",
        content : "창원 죽곡 수소충전소",
        date: "2022-01-19",
        lat: 35.11448394,
        lng: 128.7208173,
},
{
        title: "울산 투게더수소충전소",
        content : "울산 투게더수소충전소",
        date: "2022-01-19",
        lat: 35.52616341,
        lng: 129.3405148,
},
{
        title: "울산 덕하복합충전소",
        content : "울산 덕하복합충전소",
        date: "2022-01-19",
        lat: 35.47529517,
        lng: 129.309184,
},
{
        title: "제천 삼보수소충전소",
        content : "제천 삼보수소충전소",
        date: "2022-01-19",
        lat: 37.13910982,
        lng: 128.0731443,
},
{
        title: "에어프로덕츠 울산 수소충전소",
        content : "에어프로덕츠 울산 수소충전소",
        date: "2022-01-19",
        lat: 35.48350771,
        lng: 129.3581396,
},
{
        title: "대전 대성 중도가스 충전소",
        content : "대전 대성 중도가스 충전소",
        date: "2022-01-19",
        lat: 36.29442952,
        lng: 127.4606645,
},
{
        title: "음성 삼한수소충전소",
        content : "음성 삼한수소충전소",
        date: "2022-01-19",
        lat: 37.05459594,
        lng: 127.601805,
},
{
        title: "양재 그린카스테이션",
        content : "양재 그린카스테이션",
        date: "2022-01-19",
        lat: 37.46823554,
        lng: 127.0345259,
},
{
        title: "음성 휴게소(통영방향) 수소충전소",
        content : "음성 휴게소(통영방향) 수소충전소",
        date: "2022-01-19",
        lat: 37.01766216,
        lng: 127.4809286,
},
{
        title: "하이넷 수원 영통 수소충전소",
        content : "하이넷 수원 영통 수소충전소",
        date: "2022-01-19",
        lat: 37.28658794,
        lng: 127.0784953,
},
{
        title: "진주 수소충전소(LPG 복합)",
        content : "진주 수소충전소(LPG 복합)",
        date: "2022-01-19",
        lat: 35.18356089,
        lng: 128.0400565,
},
{
        title: "안산 수소e로움 충전소",
        content : "안산 수소e로움 충전소",
        date: "2022-01-19",
        lat: 37.29612848,
        lng: 126.7933443,
},
{
        title: "개미 수소충전소",
        content : "개미 수소충전소",
        date: "2022-01-19",
        lat: 36.79900515,
        lng: 127.7759501,
},
{
        title: "안성 수소충전소",
        content : "안성 수소충전소",
        date: "2022-01-19",
        lat: 37.00072014,
        lng: 127.2812408,
},
{
        title: "익산2공단 수소충전소(넝쿨)",
        content : "익산2공단 수소충전소(넝쿨)",
        date: "2022-01-19",
        lat: 35.94270611,
        lng: 127.0079023,
},
{
        title: "하이넷 화성시청 충전소",
        content : "하이넷 화성시청 충전소",
        date: "2022-01-19",
        lat: 37.19757183,
        lng: 126.8298841,
},
{
        title: "김해 수소충전소",
        content : "김해 수소충전소",
        date: "2022-01-19",
        lat: 35.22604501,
        lng: 128.9136615,
},
{
        title: "춘천 동내 수소충전소",
        content : "춘천 동내 수소충전소",
        date: "2022-01-19",
        lat: 37.82228335,
        lng: 127.7593178,
},
{
        title: "가로수 수소충전소",
        content : "가로수 수소충전소",
        date: "2022-01-19",
        lat: 36.62059968,
        lng: 127.3868367,
},
{
        title: "하이넷 인천공항T2 수소충전소",
        content : "하이넷 인천공항T2 수소충전소",
        date: "2022-01-19",
        lat: 37.48167586,
        lng: 126.423642,
},
{
        title: "화성 향남(종합경기타운 내)",
        content : "화성 향남(종합경기타운 내)",
        date: "2022-01-19",
        lat: 37.13900398,
        lng: 126.9247672,
},
{
        title: "속초 수소충전소",
        content : "속초 수소충전소",
        date: "2022-01-19",
        lat: 38.21720885,
        lng: 128.5634387,
},
{
        title: "평화 수소충전소",
        content : "평화 수소충전소",
        date: "2022-01-19",
        lat: 36.94556069,
        lng: 126.9139606,
},
{
        title: "하이넷 당진정미 수소충전소",
        content : "하이넷 당진정미 수소충전소",
        date: "2022-01-19",
        lat: 36.83852012,
        lng: 126.5836975,
},
{
        title: "망향휴게소(부산)",
        content : "망향휴게소(부산)",
        date: "2022-01-19",
        lat: 36.85366859,
        lng: 127.1808806,
},
{
        title: "하이넷 아산인주 수소충전소",
        content : "하이넷 아산인주 수소충전소",
        date: "2022-01-19",
        lat: 36.84537621,
        lng: 126.8596271,
},
{
        title: "하이넷 문막휴게소 수소충전소",
        content : "하이넷 문막휴게소 수소충전소",
        date: "2022-01-19",
        lat: 37.33617124,
        lng: 127.8589135,
},
{
        title: "하이넷 에버랜드 수소충전소",
        content : "하이넷 에버랜드 수소충전소",
        date: "2022-01-19",
        lat: 37.29335226,
        lng: 127.2224795,
},
{
        title: "천안시 수소충전소",
        content : "천안시 수소충전소",
        date: "2022-01-19",
        lat: 36.81504688,
        lng: 127.1102057,
},
{
        title: "하이넷 세종대평 수소충전소",
        content : "하이넷 세종대평 수소충전소",
        date: "2022-01-19",
        lat: 36.46923021,
        lng: 127.2663895,
},
{
        title: "양산시 증산수소충전소",
        content : "양산시 증산수소충전소",
        date: "2022-01-19",
        lat: 35.30317472,
        lng: 129.0101936,
},
{
        title: "신대 수소충전소",
        content : "신대 수소충전소",
        date: "2022-01-19",
        lat: 36.4081777,
        lng: 127.4226663,
},
{
        title: "성남시 수소충전소",
        content : "성남시 수소충전소",
        date: "2022-01-19",
        lat: 37.42175776,
        lng: 127.1551905,
},
{
        title: "하이넷 자운대 수소충전소",
        content : "하이넷 자운대 수소충전소",
        date: "2022-01-19",
        lat: 36.39835935,
        lng: 127.3468002,
},
{
        title: "하이넷 거제장평 수소충전소",
        content : "하이넷 거제장평 수소충전소",
        date: "2022-01-19",
        lat: 34.89459925,
        lng: 128.5874718,
},
{
        title: "태양수소충전소",
        content : "태양수소충전소",
        date: "2022-01-19",
        lat: 37.49881367,
        lng: 126.661882,
},
{
        title: "인천그린수소충전소",
        content : "인천그린수소충전소",
        date: "2022-01-19",
        lat: 37.43860349,
        lng: 126.6205508,
},

{
        title: "사림 수소충전소",
        content : "사림 수소충전소",
        date: "2022-01-19",
        lat: 35.23987096,
        lng: 128.7030598,
},
{
        title: "월출 수소충전소",
        content : "월출 수소충전소",
        date: "2022-01-19",
        lat: 35.23906538,
        lng: 126.8666172,
},
{
        title: "하이넷 SPG 여수 수소충전소",
        content : "하이넷 SPG 여수 수소충전소",
        date: "2022-01-19",
        lat: 34.83026653,
        lng: 127.6865281,
},
{
        title: "부안군 수소충전소",
        content : "부안군 수소충전소",
        date: "2022-01-19",
        lat: 35.73847703,
        lng: 126.7234173,
},
{
        title: "관음 수소충전소",
        content : "관음 수소충전소",
        date: "2022-01-19",
        lat: 35.94290683,
        lng: 128.5415653,
},
{
        title: "마곡 에코 수소충전소",
        content : "마곡 에코 수소충전소",
        date: "2022-01-19",
        lat: 37.57308112,
        lng: 126.8291515,
},
{
        title: "평창 대관령 수소충전소",
        content : "평창 대관령 수소충전소",
        date: "2022-01-19",
        lat: 37.68554894,
        lng: 128.7584075,
},

];
</script>








<script>



  
<div class='infowindow_wrap'>
  
    <div class='infowindow_title'>${target.title}</div>
    <div class='infowindow_content'>${target.content}</div>
    <div class='infowindow_date'>${target.date}</div>
    </div>

    var infowindow = new naver.maps.InfoWindow({
        content: content,
        backgroundColor: "#00ff0000",
        borderColor: "#00ff0000",
        anchorSize: new naver.maps.Size(0,0)

    });


    


        markerList.push(marker);
        infowindowList.push(infowindow);

       

</script>









<script>







          for (var i = 0, ii = markerList.length; i < ii; i++) {
              naver.maps.Event.addListener(map, "click", ClickMap(i));
              naver.maps.Event.addListener(markerList[i], "click", getClickHandler(i));

          }

           function clickMap(i) {
           return function () {
                var infowindow = infowindowList[i];
                infowindow.close()
           }
        }


          function getClickHandler(i) {
              return function () {
                  var marker = markerList[i];
                  var infowindow = infowindowList[i];
                  if (infowindow.getMap()) {
                      infowindow.close();
                  } else {
                      infowindow.open(map, marker);
                  }
                  };
              }
            

            



</script>













<script>



var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 10,
    };
    var map = new naver.maps.Map("map", mapOptions);
    
    var markerList = [];
    var infowindowList = [];

    for (var i in data) {
       var target = data[i];
       var latlng = new naver.maps.LatLng(target.lat, target.lng);
       marker = new naver.maps.Marker({
       map: map,
       position: latlng,
       icon: {
          content: "<div class='marker'></div>",
          anchor: new naver.maps.Point(12, 12),
        
       },


    });



    
}
    
     

let currentUse = true;


$("#current").click(() => {
   if ("geolocation" in navigator) {
    navigator.geolocation.getCurrentPosition(function (position) {
        const lat = position.coords.latitude;
       const lng = position.coords.longitude;
       const latlng = new naver.maps.LatLng(lat, lng);
       if (currentUse) {
       marker = new naver.maps.Marker({
           map: map,
           position: latlng,


       icon: {
           content:
           '<img class="pulse" draggable="false" unselectable="on" src="https://myfirstmap.s3.ap-northeast-2.amazonaws.com/circle.png" >'
        
        },

    });

    currentUse = false;
  }
       map.setZoom(14, false);
       map.panTo(latlng);
    });
   } else {
    alert("위치정보 사용 불가능");
   }
});

let ps = new kakao.maps.services.Places();
let search_arr = []

$("#search_input").on("keydown", function (e) {
    if (e.keyCode === 13) {
       let content = $(this).val();
       ps.keywordSearch(content,placeSearchCB)
    }
})

$("#search_button").on("click",function (e) {
    let content = $("#search_input").val()
    ps.keywordSearch(content, placeSearchCB);
})



function placeSearchCB(data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {
         let target = data[0];
         const lat = target.y;
         const lng = target.x;
         const latlng = new naver.maps.LatLng(lat, lng);
         marker = new naver.maps.Marker({
             position: latlng,
             map: map
         })
         if (search_arr.length ==0) {
             search_arr.push(marker)
         
        } else {
        search_arr.push(marker)
        let pre_marker = search_arr.splice(0,1);
        pre_marker[0],setMap(null);
      }
   
    } else {
        elert("검색결과가 없습니다.")
      }
    }


    </script>



</div>


<center> 

<a onClick="alert('준비중 입니다.')">서비스 소개</a> &nbsp;&nbsp;&nbsp;&nbsp;
 <a onClick="alert('주식회사 툰즈')">개발자 프로필</a>

</center>



<div id="navbar-footer">


    <br> <br>
    개발자: 주식회사 툰즈, E-mail: toons2019@naver.com <br>
    - 본 서비스는 베타 버전으로, 많은 사랑 부탁드립니다.
 
    <br><br> copyright ⓒ toonsmakerspace. All Rights Reserved. release,V.1.0.20230208. update,20230208
    <br> <br> <br>



 </div>

<style>
#navbar-footer {
    height: 80px;
    width: 100%;
    background: #00002D;
    color: white;
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>



<!--

    $('#current').click(() => {
    alert("클릭 이벤트");
});

-->

    <!-- 개발자: 석진우 -->
    <!-- 개발자 이메일(피드백): tel.01063888391@gmail.com -->




  <style>
    body {
    padding: 0px !important;
    margin: 0px !important;
}

#navbar {
    height: 50px;
    width: 100%;
    background: #00004B;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infoBox {
    position: absolute;
    top: 100px;
    z-index: 1000;
    background: white;
    left: 20px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
}

#infoTitle {
    font-size: 15px;
    font-weight: bolder;
}

.marker {
    border: 2px solid #005E75;
    background: #0090B7;
    opacity: 0.8;
    width: 24px;
    height: 24px;
    border-radius: 35%;
}

.infowindow_wrap {
    background: white;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.infowindow_title {
    font-size: 15px;
    font-weight: bolder;
}

.infowindow_content {
    font-size: 13px;
    font-weight: normal;
}

.infowindow_date {
    font-size: 13px;
    font-weight: normal;
}

#current {
    position: absolute;
    top: 188px;
    z-index: 10000;
    background: white;
    left: 28px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
}

.pulse {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 58%;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(255, 0, 0);
    animation: pulse 1.7s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
        -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(284, 49, 44, 0);
        -moz-box-shadow: 0 0 0 20px rgba(284, 49, 44, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
        -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
    }
    }


    @-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
        -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(284, 49, 44, 0);
        -moz-box-shadow: 0 0 0 20px rgba(284, 49, 44, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
        -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
    }
    }

#search {
    position: absolute;
    top: 100px;
    left: 140px;
    padding: 15px;
    z-index: 10000;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
}

#search_input {
    border: none;
}

#search_input:focus{
    outline: none;
}


  </style>


</body>
</html>